# Ball Bounce Test:
## Parameters:
- precision(1e-2)
- quality(1)
- PCP_n_iter(7)
## Results
- RAW video size: 259200.0 KiB
- Sparsity: 99.35729829764661 %
- Compressed size: 1465.416015625 KiB

# CCTV Test:
## Parameters:
- precision(1e-2)
- quality(1)
- PCP_n_iter(7)
## Results
- RAW video size: 357750.0 KiB
- Sparsity: 99.69456673654787 %
- Compressed size: 2310.14453125 KiB
